<style type="text/css">
  body {
    font-family: Roboto, sans-serif;
  }
  li:target,
  a.dm-highlight:target {
    box-shadow: 0 0px 8px blue, 0 0px 8px blue, 0 0px 8px blue;
  }
  img {
    max-width: 100%;
  }
  <% @highlights.each do |uuid, hl| %>
    a[class*="<%= uuid %>"] {
      color: black;
      background-color: <%= hl.color %>;
    }
  <% end %>
</style>
<body>
  <h1><%= @title %></h1>
  <main>
    <% @images.each do |image| %>
      <h2><%= image[:name] %></h2>
      <img src="<%= image[:url] %>" />
      <br />
    <% end %>
    <%= @content %>
  </main>
  <% if @highlights %>
    <footer>
      <ol>
        <% @highlights.each do |uuid, hl| %>
          <!-- only display highlight footnote if it appears in page content -->
          <!-- (or this is an image document) -->
          <% if @document_kind == "canvas" or @content.include? uuid %>
            <li id="<%= uuid %>">
              <a href="#highlight-<%= uuid %>" class="<%= uuid %>"><%= hl.title || hl.excerpt %></a>
              <% if hl.links_to %>
                <ol>
                  <% hl.links_to.each do |link| %>
                    <li>
                      <% if link[:document_id].present? %>
                        <a href="<%= ExportHelper.get_path(link, @depth) %>">
                          <%= link[:title] or link[:excerpt] or link[:document_title] %>
                        </a>
                      <% else %>
                          <%= link[:title] or link[:excerpt] or link[:document_title] %>
                      <% end %>
                    </li>
                  <% end %>
                </ol>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </footer>
  <% end %>
</body>
